@import "bootstrap-sprockets";
@import "bootstrap";

body {
 font-family: 'Open Sans', sans-serif;
 text-align: center;
}

#container-total{

background-color:black;
margin-top: -20px;




}

#containerPrimario{
margin-bottom: 200px;
color: white;
margin-top: 200px;
}


#firstbutton{

margin-top: 30px;
}

#navbarCSS{
    background-color: transparent;
}

.glyphicon{
margin-right: 10px;
}

h5 {

    padding:10px;
    font-size: 20px;
}

#containerEnqueteAyudamos{

    background-color: #bdc3c7;

}


/* ========= */

@media(max-width:768px){
	 h3, h5{

	  font-size: 30px;
	}

	a{

	font-size: 30px;

	}

}
// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

